@import "mixin";


aside{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-image: url(/img/WallpaperDog.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    margin-top: 35px;
   
}

.transparentheroes{
    @include transparentheroes;
    margin:20px auto;
    height: 100%;
    display: block;
    width:20%;
}

.lorem{
display: flex;
background-image: url(../img/fancy-pants.jpg);
margin:25px auto auto auto;
width:100vw;
}

.loremp{
    width: 90%;
    margin: auto;
    text-align: center;
    padding:5%;
}

// RESPONSIVE//

@media screen and (max-width:768px) {
        
 
}



@media screen and (min-width:769px) and (max-width:992px){

   
}