@import 'mixin';

footer{
   
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-image: url(/img/WallpaperDog.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    margin-top: 35px;
}

h4{
    margin:10px 0 10px 0;
}

i{
    margin-right: 15px;
}

.country{
    display: block;
    margin-left: 31px;
}

.map{
    display: flex;
    flex-flow: column nowrap;
}

.formcontact{
    display: flex;
    flex-flow: column nowrap;
}


#submit, label{
    margin-top: 10px;
}

// RESPONSIVE//

@media screen and (max-width:768px) {
        
 footer{
    width: 100vw;
    display:block;
    margin: auto;
    padding: 0 10px 0 10px;
 }

 .contact, .map, .formcontact, .widget{
    margin:auto;
    
 }

}



@media screen and (min-width:769px) and (max-width:992px){

   
}