@import 'mixin';

header{
    
    background-image: url(../img/fancy-pants.jpg);
    display:flex;
    flex-flow: row nowrap;
    -webkit-box-shadow: 0px 10px 8px -9px rgba(0,0,0,0.78); 
    box-shadow: 0px 10px 8px -9px rgba(0,0,0,0.78);        
}

.logo{
display: block;
width: 20%;
text-align: center;
margin-top: 15px;
h1{
    font-size: 1em;
    font-family: "Press Start 2P", cursive;
}
}



.menuButton {
    display:none;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width:75%;
    margin:10px 10px 5px 0;
}

nav>ul{
    padding:5px 25px 5px 5px;
}

.stormtrooper{
    width:70px;
    object-fit: cover;
}

legend{
    font-size: 1.5rem;
}

.red{
    @include underline-red;
}

.blue{
    @include underline-blue;}


// RESPONSIVE//

    @media screen and (max-width:768px) {
        
       header{
        display: block;
       }
        h1{
            font-size: 0.2em;
                   }

        .logo{
             width:100%;
            text-align: center;
        }

        .menuButton{
            display: block;
            position: absolute;
            left:85%;
            top:3%;
        }

        .menu{
            display:none;
            width: 100%;
            padding-left: 20%;
        }
      
        
    }



    @media screen and (min-width:769px) and (max-width:992px){

        h1{
            font-size: 0.5em;
        }
    }