@import 'mixin';


main{
  margin: 25px auto auto auto;
  
}

.maincontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 200px 250px;
    gap: 20px;
    color: black; 
    width: 90%;
    margin-left: 50px;
   
 
  }
  
#welcome{
    grid-column: 1/2;
    grid-row: 1/4;
    border:1px solid orange;
    padding-left: 7px;
    margin: 5px;
  }

  h2{
    @include h2;
  }
  
  h3{
    margin-bottom: 8px;
  }

.characters{
 max-width:100%;
}

#particularp{
  padding-top: 25px;
}

#read:link{
  display: inline-block;
  color: blue;
  text-decoration:underline;
  margin-top: 5px;
}

#read:visited{
  color: purple;
}

  #works{
    grid-column: 2/3;
    grid-row: 1/4;
  }

  #products{
    grid-column: 2/3;
    grid-row: 2/3;
  }

  #video{
    grid-column: 3/5;
    grid-row: 1/3;
  }

  .maintitle{
    margin:25px 10px 0 0;
  }
 
  #youtube{
    margin-top: 40px;
  }

  .youtube{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

  }
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
 
  // RESPONSIVE//

@media screen and (max-width:768px) {
 
  
 .maincontainer{
  display: block;
  margin:auto;

 }

 .welcome{
  padding-left: 2px;
 }

#welcome, #works, #products, #video, #youtube{
  text-align:center;
}


}

@media screen and (min-width:769px) and (max-width:992px){


  .maincontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 250px 200px;
  
}

  #welcome{
    grid-column: 1/3;
    grid-row: 1/3;
  }

  #works{
    grid-column: 1/3;
    grid-row: 3/4;
  }

  #products{
    grid-column: 3/5;
    grid-row: 3/4;
  }

  #video{
    grid-column: 3/5;
    grid-row: 1/3;
  }

}