@mixin underline-red{
    background-color: var(--red-dark);
    width:80px;
    height:1px;
    margin-bottom: 6px;;
}

@mixin underline-blue{
    background-color: var(--blue-smooth);
    width:80px;
    height:1px;
    margin-bottom: 6px;;
}


@mixin transparentheroes{
    height:70px;
    width:40px;
    background-color: grey;
    border-radius: 10%;
}