
@use "header";
@use "main";
@use "aside";
@use "footer";
@use "variables";



*{
    margin: 0;
    padding: 0;
}

body{

    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    cursor: url('../img/Chewbacca.png') 2 2, auto;
    line-height:1.5em;
}



ul {
    list-style: none;
      }

li{
    padding-top:4px;
}
    
a{
    text-decoration: none;
}

a:link{
    color: white;
}

a:hover{
color:var(--red-dark);
cursor:alias;
}

a:visited{
color:white;
}

